.bantuan-container {
  position: relative;
  top: 78.8px;
  width: 70%;
  padding: 4em 4em 10em 4em;
  margin: 0 auto;
}

.bantuan-container a {
    color: #FFC01E;
}
/* 
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}

.faq-answer.open {
  max-height: 200px;
  opacity: 1;
  transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
}

.faq-question {
  cursor: pointer;
  background: #f7f7f7;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 5px 0;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.faq-question.active {
  background: #FFC01E;
  color: white;
}

.arrow {
  float: right;
  transition: transform 0.3s ease;
}

.arrow.up {
  transform: rotate(180deg);
}

.faq-category {
  margin-bottom: 2em;
}

.faq-category h3 {
  font-size: 1.5em;
  color: #FFC01E;
  margin-bottom: 0.5em;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-number {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin: 0 5px;
  padding: 8px 12px;
  cursor: pointer;
}

.page-number.active {
  background-color: #FFC01E;
  color: white;
}

.page-number:hover {
  background-color: #ddd;
}

.filter-container {
  margin: 20px 0;
  text-align: center;
}

#categoryFilter {
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 1em;
  border-radius: 4px;
  margin-left: 10px;
}

.search-container {
  text-align: center;
  margin-bottom: 20px;
}

.search-container input {
  padding: 10px;
  width: 50%;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
} */